.text{
    background-color: lightcoral;
}

#para{color: seagreen;
    background-color: skyblue;
}

.grid-container{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px;
    background-color: black;
    padding: 10px;
}

.grid-item{
    background-color: black;
    border: 1px solid black;
    padding: 1px;
    font-size: 25px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.row{
    display: flex;
    flex-wrap: wrap;
    padding: 0 2px;
}

.column{
    flex: 24%;
    max-width: 24%;
    padding: 0 2px;
}

.column img{
    margin-top: 4px;
    vertical-align: middle;
}

.column img > img:hover{
    width: 200%
}

.column iframe{
    margin-top: 4px;
    vertical-align: middle;
    width: 100%;
}

.grid-container-table{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    background-color: black;
    padding: 10px;
}

.grid-item-table{
    background-color: black;
    border: 1px solid black;
    padding: 1px;
    font-size: 25px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.table{
    width: 100%;
}

@media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }